@page "/"

<PageTitle>Index</PageTitle>

<img src="img/logo.png"/>

<h1>Drifting Drams Shop</h1>

You've found the Drifting Drams Shop, sort of. This is a Work-In-Progress.
<br /><br />
In the future, you will be able to request coffee in exchange for a donation. All proceeds over cost will go to support charity.